$default-width: 50%;
$default-height: 50%;
.btn {
    background-color: RGB(198,255,238);
    // calculate width based on relative parent
    width: calc(#{$default-width} - 40px);
    height: calc(#{$default-height} - 40px);
    font-size: 1.5rem;
    color: RGB(46,30,20);
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s;
    border: none;
    margin: 20px;
    &:hover {
        background-color: RGB(53,101,137);
        color: white;
    }

    @media (min-width: 768px) {
        width: calc(#{$default-width} - 20px);
        height: calc(#{$default-height} - 20px);
    }

    @media (min-width: 1024px) {
        width: calc(#{$default-width} - 10px);
        height: calc(#{$default-height} - 10px);
    }

}