@import "../../../../styles/styles.scss";

// make button height and width variable
$btn-height: 150px;
$btn-width: 150px;


.btn{
    position: relative;
    height: $btn-height;
    width: $btn-width;
    border-radius: 50%;
    background-color: $light-blue;
    border: none;
    font-size: 1.5rem;
    color: $dark-brown;
    font-weight: bold;


    &:hover{
        background-color: $light-green;
        color: $light-blue;
        transition: 0.5s;
        cursor: pointer;
    }
}
