.question {
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: RGB(46,30,20);
    font-weight: bold;
    // add background box with curved corners and padding

}

.optionsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 150px;
}
