@import "../../../../styles/styles.scss";

$btn-height: 150px;
$btn-width: 150px;

.btn {
    position: relative;
    height: $btn-height;
    width: $btn-width;
    // use clip-path to create a hexagon
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    background-color: $light-blue;
    border: none;
    font-size: 1.5rem;
    color: $dark-brown;
    font-weight: bold;

    &:hover {
        background-color: $light-green;
        cursor: pointer;
        transition: 0.5s;
        color: $light-blue;
    }
}