:root {
    --footer-height: 10vh;
    --footer-height-mobile: 100px;
  }
  
  .container {
    grid-template-areas:
      'footer footer footer footer footer footer footer footer footer footer footer footer';
    padding-bottom: var(--footer-height);
  }
  
  footer {
    grid-area: footer;
    background-color: rgb(138, 114, 39);
    height: var(--footer-height);
    width: 100%;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    margin-top: 7px;
    z-index: 10;
  }
  
  .footer_a {
    color: white;
    font-size: 18px;
    width: 20vw;
    display: flex;
    justify-content: center;
  }
  
  .footer_logo {
    height: var(--footer-height);
    width: 20vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  footer img {
    height: 20vh;
  }
  
  @media (max-width: 768px), (max-height: 630px) {
    .container {
      grid-template-areas: 'footer';
      margin-left: 0px;
      padding-bottom: var(--footer-height-mobile);
    }
    
    footer {
      grid-area: footer;
      background-color: rgb(138, 114, 39);
      width: 100%;
      position: fixed;
      margin-top: 15px;
      margin-left: 0px;
    }
  
    .footer_a {
      color: white;
      font-size: 18px;
      width: 20vw;
      display: flex;
      justify-content: center;
    }
  
    .footer_logo {
      height: var(--footer-height-mobile);
      width: 20vw;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    footer img {
      height: 100px;
    }
  }
  