@import "../../../../styles/styles.scss";

.btn {
    height: 150px;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: $light-blue;
    border: none;
    transition: background-color 0.3s;
    text-align: center;
    // position text a little lower
    padding-top: 50px;
    // border-radius: 25px 25px 10px 10px;

    color: $dark-brown;
    font-size: 1.5rem;

    &:hover {
        background-color: $dark-yellow;
        transition: background-color 0.3s;
        color: $light-white;
        cursor: pointer;
    }
    
}