.form{
    border-radius: 25px;
  background: #356589;
  padding: 30px;
} 
.label{
    padding: 10px;
    display: 'flex';
    flex-direction: 'column';
    gap:"1rem";

} 
.Forget{
     display:'flex';
     flex-direction: 'column';
     gap:"1rem";

}
.divider{
    width:10px;
    height: auto;
    display: inline-block;
}
.button{
    padding: 30px;
} 