
$whitehover:rgba(215, 213, 208, 0.5);
$light-bluehover: rgba(206, 238, 253, 0.5);
$light-greenhover: rgba(138, 154, 74, 0.5);

.container{
  grid-template-areas: 'section section section section section section section section section section section section'
                        'calendar calendar calendar calendar calendar calendar calendar calendar calendar calendar calendar calendar';
                        height: 100%;
}
.background {
  grid-area: section;
  position: relative;
  background-image: url('../../assets/userWithoutCal.png');
  height: 160vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
}

  
  .ConnectTree, .ChatTree, .Badges {
    position: absolute;
    transform: translate(-50%, -50%);
    cursor: pointer;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
    z-index: 2;
  }
  
  .ConnectTree {
    top: 365px;
    left: 230px;
    background-color: $light-bluehover;
    width: 450px;
    height: 160px;
  }
  
  .ChatTree {
    top: 750px;
    left: 1200px;
    width: 400px;
    height: 250px;
    background-color: $light-greenhover;
  }
  
  .Badges {
    top: 130px;
    left: 1280px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: $whitehover;
  }
  
  .ConnectTree:hover, .ChatTree:hover, .Badges:hover {
    opacity: 1;
  }
  
  .calendar {
    grid-area: calendar;
    position: absolute; 
    bottom: 100px;
    left: 50px; 
    margin: 6px; 
  }
  