


// A variable for RGB 198, 225, 238
$light-blue: rgb(198, 225, 238);
// A variable for RGB 243, 241, 236
$light-white: rgb(243, 241, 236);
// A variable for RGB 138, 114, 39
$dark-yellow: rgb(138, 114, 39);
// A variable for RGB 46, 30, 20
$dark-brown: rgb(46, 30, 20);
// A variable for RGB 136, 157, 53
$light-green: rgb(136, 157, 53);
// A variable for RGB 53, 101, 137
$dark-blue: rgb(53, 101, 137);
$light-brown: rgba(138 114 39);
//hover white
$whitehover:rgba(215, 213, 208, 0.5);
//hover blue
$light-bluehover: rgba(206, 238, 253, 0.5);
//hover green
$light-greenhover: rgba(138, 154, 74, 0.5);